.add-a-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-background;
  border: 1px solid #FFFFFF; 
  position: fixed; 
  left: 11%;
  top: 15%;
  width: 46%;
  height: 50%;
  opacity: 0.9;
}

.card-wrapper {
  text-align: center;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  padding: 2em;
}

input {
  height: auto;
  width: 40%;
}

label {
  color: #000000;
  padding: 2%;
}

.start-reading-btn {
  margin-top: 5%;
}