.add-a-book-form {
  @include borderRadius();
  @include flexColumn();
  background: url(../assets/openBookBackground.png) no-repeat;
  background-position: center;
  background-size: cover;
  border: 0.1em solid $heading-text-color;
  height: 75vh;
  margin-left: 3vw;
  overflow-y: scroll;
  width: 94vw;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  margin-left: 2em;
  padding: 2em;
  text-align: center;
}

.errorContainer {
  @include flexCenterColumn();
}

.error-handling {
  margin-left: 15em;
  color: $second-accent-color;
}

.exit-img {
  @include transform();
  align-self: flex-end;
  height: 2.5em;
  margin: 0.2em;
  padding: 0.2em;
}

.formContainer {
  @include flexRow();
  justify-content: center;
  width: 100%;
}

.search-input {
  @include borderRadius();
  height: 2em;
  margin-left: 0.5em;
}

.search-book-label {
  color: $fourth-accent-color;
  font-weight: bold;
  margin-left: 5em;
}

.search-form {
  @include flexCenterColumn();
  justify-content: center;
  margin: 2em 0;
  padding: 1em;
}

.submit-button {
  @include borderRadius();
  background-color: $fourth-accent-color;
  color: $heading-text-color;
  height: 2.3em;
  margin-left: 1em;
  width: 5em;
}

@media (max-width: 1000px) {
  .card-wrapper {
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    margin-left: 0;
  }
  
  .card {
    width: 15em;
  }
}