.add-a-book-form {
  background: url(../assets/openBookBackground.png) no-repeat;
  border: 0.1em solid #FFFFFF;
  @include borderRadius();
  width: 62em;
  height: 39em;
  margin: 1.5em 14em;
  overflow-y: scroll;
}

.card-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  padding: 2em;
  margin-left: 2em;
}

.error-handling {
  margin-left: 15em;
  color: $second-accent-color;
}

.exit-img {
  height: 2.5em;
  align-self: flex-end;
  margin: 0.2em;
  padding: 0.2em;
  @include transform();
}

.search-input {
  height: 2em;
  margin-left: 0.5em;
  @include borderRadius();
}

.search-book-label {
  color: $fourth-accent-color;
  margin-left: 5em;
  font-weight: bold;
}

.search-form {
  margin: 0.5em 0;
}

.submit-button {
  background-color: $fourth-accent-color;
  color: #FFFFFF;
  margin: 1em 0 0 0.5em;
  width: 5em;
  height: 2.3em;
  @include borderRadius();
}
