.bookmark-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 30em;
  background-color: #E3D1BE;
  border: 0.1em solid white;
  @include borderRadius();
  align-items: center;
  padding: 2em;
  margin: 3em 33em;
}

.book-mark-form-input, 
select {
  width: 13em;
  margin-bottom: 0.5em;
}

.book-mark-form-textarea {
  height: 5em;
  width: 13em;
  margin-bottom: 0.5em;
}

.bookmark-label {
  font-weight: bold;
  color: $fourth-accent-color;
  margin-top: 1em;
}

.bookmark-submit-button {
  @include buttonStyling();
  @include borderRadius();
}
