.bookmark-form {
  @include borderRadius();
  @include flexCenterColumn();
  background-color: $secondary-background;
  border: 0.1em solid $heading-text-color;
  height: 50vh;
  margin: 2em;
  padding: 2em;
  width: 60vw;
}

.bookmarkFormContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.book-mark-form-input, 
select {
  height: 2em;
  width: 13em;
  margin-bottom: 0.5em;
}

.book-mark-form-textarea {
  height: 10vh;
  width: 40vw;
  margin-bottom: 0.5em;
}

.bookmark-label {
  font-weight: bold;
  color: $fourth-accent-color;
  margin-top: 1em;
}

.bookmark-submit-button {
  @include buttonStyling();
  @include borderRadius();
}
