@import '../style/variables';

.button-img {
  height: 4em;
  margin: 0.7em 1em;
  @include transform();
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3em;
  margin: 0;
  -webkit-text-stroke: 1.5px $primary-background;
}

h2 {
  margin: 0;
}

.greeting {
  color: $first-accent-color; 
  margin-left: 1em;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(44,101,255,1);
  width: 100%;
}

.worm-img {
  height: 3em;
}

.titleContainer {
  background: $secondary-background;
  border-radius: 0.5em;
  padding: 0.5em;
  align-items: center;
  background-color: white;
  box-shadow: 
       0 0 0 2px $first-accent-color,
       0 0 0 4px $second-accent-color,
       0 0 0 6px $third-accent-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em;
}