.button-img {
  @include transform();
  height: 4em;
  margin: 0.7em 1em; 
}

.buttonContainer {
  @include flexRow();
}

h1 {
  font-size: 3em;
  margin: 0;
  -webkit-text-stroke: 1.5px $primary-background;
}

.greeting {
  color: $fifth-accent-color;
  margin: 0 0.5em;
}

.header-container {
  @include flexRow();
  justify-content: space-between;
  width: 100vw;
}

.header-wrapper{
  @include flexCenterColumn();
  background: rgba(44,101,255,1);
  justify-content: center;
  width: 100%;
}

.worm-img {
  height: 3em;
}

.titleContainer {
  @include flexRow();
  align-items: center;
  background: $secondary-background;
  border-radius: 0.5em;
  background-color: $heading-text-color;
  box-shadow: 
    0 0 0 2px $first-accent-color,
    0 0 0 4px $second-accent-color,
    0 0 0 6px $third-accent-color;
  color: $sixth-accent-color;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
}