main {
  text-align: center;
}

.book-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  color: #000000;
  margin: 3.5em 1em;
  height: 60vh;
}

.bookmarks-display {
  background-color: $third-accent-color;
  @include borderRadius();
  @include bookDetailStyle();
}

.book-info {
  background: $fifth-accent-color;
  @include bookDetailStyle();
  @include borderRadius();
}

.book-options {
  display: flex;
  flex-direction: column;
  background-color: $fourth-accent-color;
  @include bookDetailStyle();
  @include borderRadius();
}

.book-details-image {
  width: 12vw;
}

.bookmark-cancel-button {
  align-self: center;
  @include buttonStyling();
  @include borderRadius();
}

.Collapsible {
  border: 0.2em solid white;
  cursor: pointer;
  margin: 2%;
  text-align: center;
  background-color: $secondary-background;
  @include borderRadius();
}

.detail-button {
  margin: 1em 0;
  height: 2em;
  width: 14em;
  font-size: 1.3em;
}
