main {
  align-items: center;
}

.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $third-accent-color;
  color: $fourth-accent-color;
  margin-top: 5vh;
  width: 60vw;
  height: 70vh;
  border-radius: 10%;
}

.bookmarks-display {
  padding: 1vw;
  height: 60vh;
  width: 16vw;
}

.book-info {
  padding: 1vw;
  height: 60vh;
  width: 20vw;
}

.book-options {
  padding: 1vw;
  height: 60vh;
  width: 10vw;
}

.book-details-image {
  width: 12vw;
}
