.bookmarkHeading {
  color: $heading-text-color;
}
.finished-bookmarks {
  @include borderRadius();
  background: $primary-background;
  color: $secondary-background;
  height: 40%;
  width: 95%;
  margin: 2%;
  margin-top: 0;
  overflow: scroll;
  padding: 0.2em;
}

.finished-book-card {
  @include bookDetailStyle();
  @include borderRadius();
  @include flexCenterColumn();
  background: $soil-color;
  height: 50vh;
  text-align: center;
  width: 20vw;
}

.finished-book-img {
  height: 40%;
}

.finishedBookmarks {
  background-color: $fourth-accent-color;
  border: none;
  padding: 0.2em;
  &:hover {
    background-color: $second-accent-color;
  }
}

.finished-book-title {
  color: $secondary-background;
  font-size: 1.3rem;
  margin: 5%;
  width: 80%;
}

@media (max-width: 928px) {
  .finished-book-title {
    font-size: 1em;
  }
}