main {
  @include flexCenterColumn();
  justify-content: center;
  width: 100vw;
}

.mountain {
  height: 13em;
  @include transform();
}

.navigation-wrapper {
  align-items: baseline;
  background: linear-gradient(180deg, rgba(44,101,255,1) 0%, rgba(52,170,87,1) 54%);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 26vh;
  width: 100vw;
}

.sandcastle {
  height: 15em;
  @include transform();
}

.sandhill {
  height: 7em;
  @include transform();
}

.topsoil {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(63,94,99,1) 0%, rgb(28, 113, 33) 0%, rgb(34, 171, 38) 60%, rgba(5,4,2,1) 50%);
  width: 100vw;
}

.topsoilContainer {
  background: linear-gradient(180deg, rgba(63,94,99,1) 0%, rgb(28, 113, 33) 0%, rgb(34, 171, 38) 60%, rgba(5,4,2,1) 50%);
}

.trees {
  height: 10em;
  width: auto;
}

@media (max-width: 1030px) {
  .mountain {
    height: 10em;
  }
  .navigation-wrapper {
    height: 22vh;
  }
  .sandcastle {
    height: 11em;
  }
  .sandhill {
    height: 6em;
  }
  .trees {
    height: 3em;
  }
}

@media (max-width: 891px) {
  .mountain {
    height: 8em;
  }
  .navigation-wrapper {
    height: 17vh;
  }
  .sandcastle {
    height: 9em;
  }
  .sandhill {
    height: 5em;
  }
}


@media (max-width: 700px) {
  .mountain {
    height: 4em;
  }
  .navigation-wrapper {
    height: 13vh;
  }
  .sandcastle {
    height: 5em;
  }
  .sandhill {
    height: 3em;
  }
}
