@import '../style/variables';

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.mountain {
  height: 15em;
  @include transform();
}

.navigation-wrapper {
  background: linear-gradient(180deg, rgba(44,101,255,1) 0%, rgba(52,170,87,1) 54%);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

.sandcastle {
  height: 12em;
  margin: 1.1em 0em 0em 3em;
  @include transform();
}

.sandhill {
  height: 8em;
  margin: 5.2em 0 0 2em;
  // @include transform();
}

.topsoil {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(63,94,99,1) 0%, rgb(28, 113, 33) 0%, rgb(34, 171, 38) 60%, rgba(5,4,2,1) 50%);
  width: 100vw;
}

.topsoilCaption {
  margin: 0.1em;
  color: $soil-color;
  font-size: 2em;
}
.topsoilContainer {
  background: linear-gradient(180deg, rgba(63,94,99,1) 0%, rgb(28, 113, 33) 0%, rgb(34, 171, 38) 60%, rgba(5,4,2,1) 50%);
}

.trees {
  height: 10em;
  width: auto;
  margin: 3.5em -5em 0 -4em;
}

@media (max-width: 1030px) {
  .mountain {
    height: 13em;
  }
  .sandcastle {
    margin: 0;
  }
  .sandhill {
    height: 1em;
  }
  .trees {
    height: 3em;
  }
}