.add-book-btn {
  @include borderRadius();
  background-color: $fourth-accent-color;
  height: 2.5em;
  width: 8em;
}

.book-img {
  height: 10em;
  width: 8em;
}

.book-title {
  color: $fourth-accent-color;
  font-size: 0.9em;
}

.card {
  @include borderRadius();
  border: 0.2em solid $fourth-accent-color;
  height: 21em;
  width: 10em;
  @include flexCenterColumn();
}

.prediction-input {
  margin: 0.4em 0;
  height: 3.5em;
  width: 9em;
  @include borderRadius();
}