.add-book-btn {
  height: 2em;
  width: 7em;
}

.book-img {
  height: 10em;
  width: 8em;
}

.book-title {
  color: #3C9F88;
  font-size: 0.9em;
}

.card {
  border: 0.1em solid #3C9F88;
  height: 21em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin: 0.4em 0;
  height: 15%;
  width: 77%;
}