.book {
    height: 8em;
}

.caption {
    font-size: 2em;
    margin-top: 5%;
}

.loginBackground {
    @include flexCenterColumn();
    background: linear-gradient(180deg, rgba(63,94,99,1) 0%, rgb(28, 113, 33) 0%, rgb(34, 171, 38) 60%, rgba(5,4,2,1) 50%);
    background-image: url("../assets/loginDisplay.svg");
    background-size: 100%;
    height: 100vh;
    margin: 0;
    opacity: 85%;
    padding: 0;
    width: 100%;
}

.loginContainer {
    @include flexCenterColumn();
    background-color: $secondary-background;
    border-radius: 0.5em;
    justify-content: center;
    padding: 2em;
    width: 35%;
}

.loginTitleContainer {
    @include flexRow();
    align-items: center;
    background-color: $heading-text-color;
    border-radius: 0.5em;
    box-shadow: 
        0 0 0 2px $first-accent-color,
        0 0 0 4px $second-accent-color,
        0 0 0 6px $third-accent-color;
    justify-content: center;
    margin: 2em;
    padding: 0.5em; 
  }

.worm {
    height: 10em;

}

.loginButton {
    background-color: $first-accent-color;
    border: none;
    font-size: 1.5em;
    height: 3em;
    margin: 1em;
    width: 6em;
}