@mixin transform() {
    transition:  0.5s ease;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.10, 1.10);
    }
  }
  
  @mixin borderRadius() {
    border-radius: 0.5em;
  }
  
  @mixin bookDetailStyle() {
    padding: 1vw;
    width: 20vw;
  }
  
  @mixin buttonStyling() {
    background-color: $fourth-accent-color;
    margin-top: 1em;
    width: 13em;
    height: 2em;
  }

  @mixin flexCenterColumn() {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  @mixin flexColumn() {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flexRow() {
    display: flex;
    flex-direction: row;
  }