$primary-background: black;
$secondary-background: #E3D1BE;
$heading-text-color: white;
$secondary-text-color: #A86889;
$first-accent-color: #F29024;
$second-accent-color: #EB6825;
$third-accent-color: #D56261;
$fourth-accent-color: #057196;
$fifth-accent-color: #3C9F88;

@mixin transform() {
  transition:  0.5s ease;
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.10, 1.10);
  }
}
