.bookImage {
    cursor: pointer;
}
.rainbowBox {
    display: flex;
    height: 140vh;
}

.tick {
    margin: 5px;
}

.hover {
  filter: brightness(1.5);
  filter: drop-shadow(1px 1px 10px #F29024)
}
