.bookImage {
    cursor: pointer;
}
.rainbowBox {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.tick {
    margin: 5px;
}

.hover {
  filter: brightness(1.5);
  filter: drop-shadow(1px 1px 10px #F29024)
}

.off {
  filter: opacity(0.2);
}
