.finished-books-textarea {
  height: 4em;
  width: 95%;
}

.finished-book-submit-button {
  margin: 1em 0;
  height: 2em;
  width: 18vw;
  font-size: 1.3em;
}

.finish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

