.finished-books-textarea {
  height: 4em;
}

.finished-book-submit-button {
  @include buttonStyling();
  @include borderRadius();
  background-color: $secondary-background;
}

.finish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

