@import './style/variables';
@import './App/App';
@import './Home/Home';
@import './BookContainer/BookContainer';
@import './Card/Card';
@import './NewBookForm/NewBookForm';

body, * {
  margin: 0;
  background-color: $primary-background;
  color: $secondary-text-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: $first-accent-color;
}
